/* 全局样式表 */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}

.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
  margin-top: 15px;
}

.el-pagination {
  margin-top: 15px;
}
.zk-table {
  margin-top: 15px;
}

/* 级联选择器: 当后台返回数据过多时,导致级联页面的高度超出父级页面的可视区域 */
.el-cascader-menu {
  height: 240px;
}
.el-steps {
  margin: 15px 0;
}
.el-step__title {
  font-size: 13px;
}
.el-form-item__label {
  text-align: left;
}
.ql-editor {
  min-height: 300px;
}
